.AboutMe {
    padding: 20px;
    text-align: center;
  }
  
  .AboutMe h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .AboutMe p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  