.card {
    height: 50vh;
    width: 100%; 
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
    position: absolute;
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

}






