.card {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}





@media (min-width: 768px) {
    .card {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .card {
        height: 200px;
        /* margin-bottom: 100px; */
        margin: 100px 0;
    }
}


