 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    .card {
      width: 50%;
      margin: 0 auto;
    }
  }





