  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #0e2233;
    color: #fff;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}