  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color:#0e2233;
  }


  button {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color:#0e2233;
    color: #fff;
  }
  
  @media (max-width: 767px) {
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 375px) {
    button {
      font-size: 12px;
      padding: 6px 12px;
    }
  }  


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.navbar.dark-theme {
  background-color: #0e2233;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu i {
  font-size: 24px;
  color: #333;
}

.hamburger-menu.open i::before {
  content: "\f00d";
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.menu-dropdown li {
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }

  .menu-dropdown {
    display: block;
  }
}



  