.navbar{
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    background-color:  #0e2233;
    color: white;
    text-align: center;
    /* bottom: 0;
    left: 0;
    right: 0;
    padding: 8px; */
    text-align: center;

  }

  .navbar a {
    /* float: left; */
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }