
.running-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
    margin: 10px 0;
  }
  
  .running-line {
    font-size: 20px;
    font-weight: normal;
    color: red;
  }

  @media only screen and (max-width: 767px) {
    .running-line {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .running-line {
      font-size: 18px;
    }
  }