.blog {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .blog h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .blog p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .blog .info {
    font-style: italic;
    color: gray;
    margin-bottom: 40px;
  }
  