.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0e2233;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .Header__logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .Header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #0e2233;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .Header__nav.show {
    max-height: 300px;
  }
  
  .Header__nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .Header__nav a:hover {
    background-color: #f1f1f1;
  }
  
  .Header__hamburger {
    display: block;
    cursor: pointer;
  }
  
  .Header__hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    position: relative;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .Header__hamburger span:first-child {
    transform-origin: top;
  }
  
  .Header__hamburger span:last-child {
    transform-origin: bottom;
  }
  
  .Header__hamburger.open span:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  
  .Header__hamburger.open span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .Header__hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  @media screen and (min-width: 450px) {
    .Header__nav {
      display: flex;
      flex-direction: row;
      position: static;
      top: unset;
      left: unset;
      width: auto;
      background-color: unset;
      text-align: unset;
      overflow: unset;
      max-height: unset;
      transition: unset;
    }
  
    .Header__hamburger {
      display: none;
    }
  }
  
  @media screen and (max-width: 449px) {
    .Header__nav {
      display: none;
    }
  }
  