
.running-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
    margin: 10px 0;
  }

  .moving-text{
    color:red;
  }

        /* Makes the animation pause on hover */
        .moving-text:hover{
          animation-play-state: paused;
      }

      /* The animation */
      @keyframes marquee{
          0%{transform: translateX(100%);}
          100%{transform: translateX(-100%);}
      }

      /* media query to enable animation for only those who want it */
      @media (prefers-reduced-motion: no-preference) {
          .moving-text{
              animation: marquee 15s linear infinite;
          }
      }
  
  .running-line {
    font-size: 20px;
    font-weight: normal;
    color: red;
  }

  @media only screen and (max-width: 767px) {
    .running-line {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .running-line {
      font-size: 18px;
    }
  }