.moving-text{
  color:red;
}
 /* Makes the animation pause on hover
 .moving-text:hover{
  animation-play-state: paused;

} */

/* The animation */
@keyframes marquee{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}

/* media query to enable animation for only those who want it */
@media  {
  .moving-text{
      animation: marquee 20s linear infinite;
      display: inline-block;
      white-space: nowrap;
  }
}

.running-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
    margin: 10px 0;
  }
  

  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .moving-text {
      font-size: 18px;
    }
  }